body {
  font-family: 'Lato', sans-serif;
	font-family: 'Merriweather', serif;
  background: white;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.logo-image {
  display: flex;
  align-items: center;
  padding: 33px 0 0 405px;
}

.logo-image img {
  height: 40px;
  width: 40px;
}

.name-company {
  margin-left: 30px;
  margin-right: 221px;
  font-family: Merriweather;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  color: #005FA3;
}

.company-info {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}

.company-info img {
  margin-right: 15px;
}

.company-info p {
  margin-right: 40px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  color: #000;
}


.main-menu ul {
  margin: 0 auto;
  display: flex;
}

.main-menu li {
  margin-right: 68px;;
}
