body {
  background: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

p {
  font-size: 13px;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #222222;
}

.container {
  margin: auto;
  padding: auto;
  width: 1116px;
}

.wrapper {
  margin-right: auto;
  margin-left:  auto;
  max-width: 960px;
}

.logo-image {
  display: flex;
  align-items: center;
}

.logo-image img {
  height: 40px;
  width: 40px;
}

.name-company {
  margin-left: 30px;
  margin-right: 221px;
  font: normal 900 36px Merriweather;
  color: #005FA3;
}

.information {
  display: flex;
  flex-direction: column;
}

.company-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.company-info img {
  margin-right: 15px;
}

.company-info p {
  margin-right: 30px;
  color: #000;
}

.company-info .phone {
  width: 10px;
  height: 17px;
}

.company-info .timework {
  width: 17px;
  height: 17px;
}

.company-info .letter {
  width: 22px;
  height: 17px;
}

.company-info .geo-adress {
  width: 17px;
  height: 17px;
}

.main-menu ul {
  display: flex;

}
.main-menu li {
  text-transform: uppercase;
  margin-right: 60px;
  font: bold 14px sans-serif;
  margin-bottom: 30px;
}